{# Create point reports #}
{% extends "admin/base_site.html" %}

{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'admin/css/forms.css' %}">

<form method="POST" enctype="multipart/form-data" id="importFrm" class="mb-3" style="margin-top: -2em;">
    <div>
        {% csrf_token %}
        <div class="module aligned">
            <div class="form-row">
                <div class="checkbox-row">
                    <input required type="radio" name="layout" value="sepgrade" id="sepgrade">
                <label class="vCheckboxLabel" for="sepgrade">Separate Grades</label>
                </div>
                <div class="checkbox-row">
                    <input required type="radio" name="layout" value="together" id="together">
                    <label class="vCheckboxLabel" for="together">Whole School</label>
                </div>
            </div>
        </div>
    </div>
    <div>
        <input type="submit" value="Generate" class="default" name="_save" style="float: none;">
    </div>
</form>
{% if lb %}
<button class="default button mb-3" style="float: none;" id="printBtn">Print</button>
{% for group in lb %}
<h1 class="mb-3">{{ group.0 }}</h1>
<div class="results mb-3">
    <table style="min-width: 50vw;">
        <thead>
            <tr>
                <th scope="col" class="column-placement">
                    <div class="text">Placement</div>
                    <div class="clear"></div>
                </th>
                <th scope="col" class="column-placement">
                    <div class="text">Name</div>
                    <div class="clear"></div>
                </th>
                <th scope="col" class="column-placement">
                    <div class="text">Points</div>
                    <div class="clear"></div>
                </th>
            </tr>
        </thead>
        <tbody>
            {% for stu in group.1 %}
            <tr><td>{{ stu.0 }}.</td><td>{{ stu.1 }}</td><td>{{ stu.2 }}</td></tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endfor %}
<script>
    function printReport() {
        const queries = ["#content > h1", "#importFrm", "#user-tools", ".breadcrumbs", "#printBtn"];
        for (let query of queries) {
            document.querySelector(query).classList.add("no-print");
        }
        window.print();
        for (let query of queries) {
            document.querySelector(query).classList.remove("no-print");
        }
    }

    document.getElementById("printBtn").addEventListener("click", printReport);
    if (navigator.userAgent.indexOf("QtWebEngine") != -1) {
        document.getElementById("printBtn").remove(); // QtWebEngine doesn't print
    }
</script>
{% endif %}
{% endblock %}
