{# Import students page #}
{% extends "admin/base_site.html" %}

{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'admin/css/forms.css' %}">
<form method="POST" enctype="multipart/form-data" id="importFrm">
    {% csrf_token %}
    <div class="module aligned">
        <div class="mb-3">
            <input type="file" name="data" accept=".csv" required>
        </div>
        Data can be uploaded in <a href="{% static 'admin/sample_student_data.csv' %}?ext">this format</a> or in PowerSchool format.
    </div>
    <div class="submit-row">
        <input type="submit" value="Save" class="default" name="_save">
    </div>
</form>
{% endblock %}

