{% extends "admin/base.html" %}

{% load static %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">SpiritSoft</a></h1>
{% endblock %}

{% block welcome-msg %}{% endblock %}

{% block dark-mode-vars %} {# Hijack this to inject our custom head attributes #}
<meta charset="utf-8">
<link rel="icon" href="{% static 'favicon.png' %}">
<!-- Favicon designed by OpenMoji – the open-source emoji and icon project. License: CC BY-SA 4.0 -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap" rel="stylesheet">
<style>
    @keyframes fade-in {
        0%   {opacity: 0;}
        100% {opacity: 100%;}
    }

    #content {
        animation-name: fade-in;
        animation-duration: 0.3s;
    }
    
    h1#site-name a:link, h1#site-name a:visited, #nav-sidebar .current-app .section:link, #nav-sidebar .current-app .section:visited, #content > h1 {
        font-family: 'Inter', 'Roboto', sans-serif;
        font-weight: 700;
        color: black;
    }

    iframe.helpifr {
        width: 1200px;
        height: 600px;
        border: 1px solid black;
    }

    .help-header {
        font-weight: 700;
    }

    .img-caption {
        font-style: italic;
        margin: -2px 0 6px 0;
    }

    .mb-3 {
        margin-bottom: 1rem!important;
    }

    @media print {
        .no-print {
            display: none;
        }
    }

    #content > h1 {
        margin-bottom: 2em;
    }

    #header {
        background: linear-gradient(180deg, var(--header-bg), var(--primary));
    }

    div.breadcrumbs {
        background: linear-gradient(180deg, var(--primary), transparent);
    }

    #user-tools, #logout-form button {
        font-weight: 400;
    }

    #nav-sidebar .module caption {
        border-radius: 8px 8px 0 0;
        border-collapse: separate;
    }

    #nav-sidebar .module tbody th {
        border-left: 1px solid var(--primary);
        border-collapse: separate;
    }

    #nav-sidebar .module tbody td {
        border-right: 1px solid var(--primary);
        border-collapse: separate;
    }


    #nav-sidebar .module tbody tr:last-child th {
        border-radius: 0 0 0 8px;
        border-bottom: 1px solid var(--primary);
        border-collapse: separate;
    }

    #nav-sidebar .module tbody tr:last-child td {
        border-radius: 0 0 8px 0;
        border-bottom: 1px solid var(--primary);
        border-collapse: separate;
    }

    #nav-sidebar {
        border-right: none;
    }

    @media screen and (max-width: 1360px) {
        #content-main.quarterly-main {
            float: none;
        }
        #content-related.quarterly-related {
            margin: 0!important;
            float: none;
        }
    }

    #content-main.quarterly-main {
        width: calc(100% - 276px);
    }

    .secondary-cap {
        display: none;
    }

    .ss-warning {
        padding: 12px;
        margin: 1.333em 0;
        background: #ff7777;
        border-radius: 16px;
    }

    .ss-warning::before {
        content: "Warning!";
        font-weight: 700;
        margin-right: 12px;
    }

    #home-dashboard .secondary-cap {
        display: table-caption;
        text-transform: none;
    }

    #home-dashboard .primary-cap {
        font-weight: bold;
        border-radius: 8px 8px 0 0;
    }

    #content-related.quarterly-related {
        margin: 0 0 0 -300px;
    }

    @media screen and (max-width: 767px) {
        .quarterly-main {
            width: 100%;
        }
    }

    @media screen and (max-width: 999px) {
        #content-related.quarterly-related {
            width: 100%;
        }
    }

    .fl-1 {
        flex: 1;
    }

    @media screen and (min-width: 1000px) {
        #home-dashboard {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-column-gap: 24px;
        }

        .flex-desktop {
            display: flex;
        }
    }

    #content-related .actionlist li.winnerlink {
        background-size: contain;
        background-image: url(/static/admin/crown.png);
        background-repeat: no-repeat;
        padding-left: 25px;
        background-position-x: -5px;
    }

    #help {
        width: 30px;
        height: 30px;
        background: rgba(127, 127, 127, 0.5);
        border-radius: 5rem;
        font-size: 25px;
        font-weight: bold;
        text-align: center;
        position: fixed;
        right: 16px;
        bottom: 16px;
        line-height: 1.2;
        z-index: 1000;
    }

    #help > a, #help > a:hover {
        padding-top: 2px;
        text-decoration: none;
        color: white;
    }

    input[type=file] {
        cursor: pointer;
        display: block;
        width: 300px;
        padding: .375rem .75rem .375rem 110px;
        font-size: 1rem;
        line-height: 1.5;
        border: 1px solid gray;
        border-radius: .25rem;
        position: relative;
    }

    input::file-selector-button {
        position: absolute;
        left: 0;
        top: 0;
        width: 100px;
        height: 100%;
        margin: 0;
        border: none;
        border-right: 1px solid gray;
        padding: .375rem;
        cursor: pointer;
    }

    body {
        font-family: "Inter", "Roboto", "Lucida Grande", Arial, sans-serif;
        scroll-behavior: smooth;
    }

    :root {
      --primary: #fbc2ba;
      --body-fg: black;
      --body-bg: #fdfffc;
      --header-bg: #fe9c8f;
      --link-fg: #0e9aa7;
      --default-button-bg: var(--header-bg);
      --header-color: var(--body-fg);
      --header-link-color: var(--body-fg);
      --header-branding-color: var(--body-fg);
      --breadcrumbs-bg: var(--primary);
      --breadcrumbs-fg: var(--body-fg);
      --breadcrumbs-link-fg: var(--body-fg);
      --link-selected-fg: var(--link-fg);
      --button-bg: var(--header-bg);
      --body-quiet-color: var(--body-fg);
    }
</style>
{% endblock %}

{% block userlinks %}
{% if user.has_usable_password %}
<a href="{% url 'admin:password_change' %}">Change password</a> /
{% endif %}
<form id="logout-form" method="post" action="{% url 'admin:logout' %}">
    {% csrf_token %}
    <button type="submit">Log out</button>
</form>
<div id="help">
    <a href="/help/" target="_blank" title="SpiritSoft Help">?</a>
</div>
{% endblock %}

{% block title %}{{ title }} | SpiritSoft{% endblock %}
